:root {
  --color-primary: 153, 247, 250;
  --color-primary-alt: 161, 198, 199;
  --color-secondary: 20, 50, 51;
  --color-secondary-alt: 57, 96, 97;
  --color-alt: 117, 147, 148;
  --color-text: 0, 0, 0;
  --color-text-secondary: 255, 255, 255;

  --font-body-family: 'Roboto', Arial, sans-serif;
  --font-heading-family:  'Roboto', Arial, sans-serif;
}
